html, body{
    height:100%;
    margin: 0 auto;
    padding: 0;
    border: 0;

    overflow-y: auto;
    overflow-x: hidden;

    font-family: Lato, sans-serif;
    font-weight: bold;

    background: lightgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



.card-header {
    background-color: white;
    font-size: 16px;
    padding: 0.5rem;
}

.card-body{
    padding: 0.3rem;
}

.card {
    height: 100%;
}
.navbar-brand {
    color: black;
}

.btn:hover {
    background: #e0e1e2 none;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

.canvasArea {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.toolWinContainer {
    display:flex;
    justify-content:center;
    align-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.drawablePanel {
    margin: 0.1rem 0.2rem 0.1rem 0.2rem;
    padding: 0.1rem;
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
}

.canvasRow {
    justify-content: center;
    align-content: center;
}

.headerCol {
    padding: 0;
}
