html, body{
    margin: 0px;
    height: 100%;

    background: lightgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    overflow: hidden;

}

body{
    display: flex;
    flex-direction: column;
}
.container {
}

.App {
}

.toolIcon {
    width: 25px;
    height: 25px
}

.ui.icon.button {
    background: white;
    border: 2px solid #e0e1e2;
    margin: 2px;
}

.ui.icon.button:hover {
    background: #e0e1e2 none;
}

.allPanels {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 200px;
    height: 100%;
    margin: 15px;
}

.panelContainer {
    margin-bottom:10px;
}